<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>node-web-cluser</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<%- body %>

		<!-- system deps -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!-- js -->
		<script src="/js/app.js"></script>
		<script src="/js/modules.js"></script>

		<script type="text/javascript">
			var app = new Application(sandbox);
			$(document).ready(function(){
				app.startAll();
			})
		</script>
	</body>
</html>